
snippet fun "Function assigned to var" 
${1:function_name} = function $1(${2}) {
	${VISUAL}$0
};
endsnippet

snippet fun "function (fun)" b!
function ${1:function_name}(${2:argument}) {
	${VISUAL}$0
}
endsnippet
